
@{
    ViewBag.Title = "editarenda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using evolution_gym.Models
<div class="col-sm-6">
    <h2>Arenda Xərci Məlumatlarını Dəyiş</h2>
    <form action="~/Admin/updatearenda/@ViewBag.are.ArendaId" method="post">
        <div class="form-group">
            <label for="usr">ArendaFilial:</label>
            <select name="ArendaFilialId">
                @foreach (var item in ViewBag.filial)
                {
                    <option @(item.FilialId == ViewBag.are.ArendaFilialId ? "selected" : "") value="@item.FilialId">@item.FilialAd</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="usr">ArendaÖdənişTarixi:</label>
            <input type="text" class="form-control" id="usr" name="ArendaOdenisTarixi" placeholder="ArendaOdenisTarixi" value="@ViewBag.are.ArendaOdenisTarixi">
        </div>
        <div class="form-group">
            <label for="usr">ArendaAylıqÖdəniş:</label>
            <input type="text" class="form-control" id="usr" name="ArendaAyliqOdenis" placeholder="ArendaAyliqOdenis" value="@ViewBag.are.ArendaAyliqOdenis">
        </div>
        <button type="submit" class="btn btn-success">Dəyiş</button>
    </form>
</div>

